@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Add a Book";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <br />
    <br />
</div>

<p>This page will include a form to add an additional book to the list</p>
<br />
<p>Thank you.</p>

