@{
    //Logan Hardy
    //IS 413
    //Assignment 7
    //2 March 2021

    ViewBag.Title = "Welcome To Logan's Online Bookstore!";
}

@model BookListViewModel

<div class="bookInfo">
    <table class="table table-bordered table-striped">
        <!--Bootstrap used to change text to all caps/uppercase-->
        <tr class="text-uppercase">
            <th>Title</th>
            <th>Author's Name</th>
            <th>Publisher</th>
            <th>ISBN</th>
            <th>Pages</th>
            <th>Classification</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
        <!--Foreach loop to display information about each book on separate rows-->
        @foreach (var oBook in Model.Books)
        {
            <partial name="BookSummary" model="oBook" />
        }
    </table>
    
</div>

    <div page-model="@Model.PagingInfo" page-action="Index" 
         page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn btn-info" page-url-category="@Model.CurrentCategory"
         class="btn-group pull-right m-1">
    </div>

