@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br /> 
<br />

<p>Hello. </p>
<p>Congratulations on finding my privacy page. Most people see the link, but do not actually click on it.  But YOU did.  I wish to grant you a reward for this remarkable accomplishment by giving you an "A" as a TA or random viewer who may be observing this.  You are Awesome! </p>
